body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #074584;
}

.editor-icon {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.message {
  padding: 1rem 0;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: popup 250ms linear;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.error {
  border-radius: 0.5rem;
  padding: 1rem 0;
  background-color: #ffdde2;
  color: #e44e4e;
  border: 1px solid #ffa5a5;
}

/********** main header **********/
.header h1 {
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
}

.search-field {
  margin-bottom: 2rem;
}

/********** categories navegation **********/
.categories {
  margin: 1rem auto;
  text-align: center;
}

/********** posts list **********/
.posts-list {
  display: grid;
  margin: 1.5rem 2rem 5rem;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  justify-items: center;
}

@media (min-width: 480px) {
  .posts-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .posts-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/********** post card list **********/
.card-footer-btns {
  justify-content: right;
}

.card {
  width: 100%;
}

/********** post **********/
.post {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 2rem auto 5rem;
}

@media (min-width: 768px) {
  .post {
    flex-direction: row;
  }
}

.post h2 {
  margin-bottom: 0.5rem;
}

.post img {
  max-width: 100%;
}

p.post-categories {
  color: #999;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .post img {
    max-width: 50%;
  }
}

.post-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post footer {
  display: flex;
  justify-content: space-between;
}

.post-footer-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/********** main footer **********/
.footer {
  background-color: #333;
  color: white;
  padding: 5rem;
  margin-top: 3rem;
}

/********** editor post page **********/
.form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form-footer-buttons {
  display: flex;
  gap: 1rem;
}
