body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #074584;
}

.editor-icon {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.status-message {
  padding: 1rem 0;
  margin-top: 3rem;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.message {
  padding: 1rem 0;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: popup 250ms linear;
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.error {
  border-radius: 0.5rem;
  padding: 1rem 0;
  background-color: #ffdde2;
  color: #e44e4e;
  border: 1px solid #ffa5a5;
}

.spinner {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto 1rem;
  background-color: #074584;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/********** main header **********/
.header h1 {
  text-align: center;
  padding: 0 1rem 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
}

.search-field {
  margin-bottom: 2rem;
}

.header-reset-icon {
  cursor: pointer;
}

/********** categories navegation **********/
.categories {
  margin: 1rem auto;
  text-align: center;
}

.categories-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/********** posts list **********/
.posts-list {
  display: grid;
  margin: 1.5rem 2rem 5rem;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  justify-items: center;
}

@media (min-width: 480px) {
  .posts-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .posts-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/********** topbar **********/
.topbar-container {
  justify-content: end;
}

.topbar-profile-image {
  width: 100%;
}

/********** post card list **********/
.card-footer-btns {
  flex-direction: column;
}

.card {
  width: 100%;
}

p.card-info {
  font-size: 0.8rem;
}

p.card-categories {
  font-size: 0.8rem;
  text-align: center;
}

/********** post **********/
.post {
  margin: 2rem auto 5rem;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .post-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }
}

.post h2 {
  margin-bottom: 1.8rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.92rem;
}

.post img {
  width: 100%;
}

p.post-info {
  font-size: 0.9rem;
  margin: 0.5rem auto 1rem;
  text-align: right;
}

p.post-categories {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

p.post-body {
  line-height: 1.7rem;
}

.post-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post footer {
  display: flex;
  justify-content: space-between;
}

.post-footer-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/********** main footer **********/
.footer {
  background-color: #333;
  color: white;
  padding: 5rem;
  margin-top: 3rem;
  font-family: sans-serif;
  font-size: 0.9rem;
}

.footer div {
  margin: 0.5rem 0;
}

.footer a {
  color: #3ea8ff;
}

a.footer-home {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

/********** editor post page **********/
.editor-form {
  margin: 2rem auto;
}

.editor-form > :not(style) {
  margin: 1.2rem 0 !important;
}

.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
}

@media (min-width: 480px) {
  .form-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-footer-buttons {
  display: flex;
  gap: 1rem;
}
